.page {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100vh;
    background-color: var(--background);
}

.otherSection {
    width: 30%;
    border-right: 2px solid gray;
}

.otherSectionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 5%;
}

.comparisonTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    font-family: 'Manrope';
}

.otherSectionContainerData {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
}

.playersTitle {
    font-family: 'Raleway';
}

.playerList {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    min-width: 85%;
}

.playerListElement {
    display: flex;
    align-items: center;
    padding: 4%;
    padding-left: 8%;
    border-left: none;
    cursor: pointer;
    background-color: rgb(210, 210, 210);
}

.playerListElement:not(:first-child) {
    border-top: 1px solid gray;
}

.playerListElement:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.playerListElement:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.playerListBadge {
    margin-right: 2.5%;
}

.playerListElement:hover {
    background-color: rgb(180, 180, 180);
}

.referenceTitle {
    font-family: 'Raleway';
    margin-top: 10%;
    text-transform: uppercase;
}

.referenceContainer {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    min-width: 85%;
    background-color: rgb(210, 210, 210);
    border-radius: 6px;
}

.referenceBox {
    display: flex;
    align-items: center;
    padding: 3%;
    padding-left: 5%;
    border-left: 5px solid #132257;
}

.referenceBox:first-child {
    border-bottom: 1px solid gray;
}

.referenceBoxContent {
    margin-left: 5%;
}

.comparisonButton {
    display: flex;
    border: none;
    margin-top: 5%;
    font-size: 1rem;
    border-left: 8px solid var(--stripeColor);
    background-color: gainsboro;
    font-family: 'Manrope';
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    height: 65px;
    cursor: pointer;
    transition: box-shadow 0.2s, font-size 0.2s;
}

.radarSection {
    width: 100%;
    margin-top: 0;
    margin-bottom: auto;
}

.playerRadarContainer {
    width: 100%;
    height: 900px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerRadarChart {
    width: 100%;
    height: 100%;
    display: flex;
}

.playerStatisticRadar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comparisonDialog {
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    border: none;
    width: 600px;
    height: 80vh;
    transform: translate(-20%, -50%);
    background-color: transparent;
}

.comparisonDialogContainer {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border: 8px solid black;
    background-color: var(--background);
}

.comparisonDialogContent {
    margin-top: 5%;
}

.comparisonDialogTitle {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .main {
        flex-direction: column;
    }
    .otherSection {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid gray;
    }
    .otherSectionContainer {
        height: auto;
    }
}