.main {
    width: 100vw;
    height: 100vh;
}

.container {
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    background-color: aqua;
}

.radarCircle {
    position: relative;
    width: 600px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.radarPoint {
    position: absolute;
    border-radius: 50%;
    background-color: green;
    transition: all 0.5s ease;
}

.radarSteps {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radarStep {
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.radarLines {
    position: absolute;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.radarLine {
    position: absolute;
    display: flex;
    align-items: center;
    width: 600px;
    height: 1.5px;
    background-color: white;
}