.statisticDropdownMenu {
    position: relative;
    margin-top: 5%;
    border: 0;
    font-size: 100%;
    width: 70%;
    font-family: 'Roboto';
    margin-bottom: 15%;
}

.defaultOption {
    display: flex;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    width: 100%;
    background-color: rgb(190, 190, 190);
    color: var(--text);
    border-radius: 5px;
}

.otherOptions {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    position: absolute;
    height: auto;
    background-color: rgb(210, 210, 210);
    z-index: 7;
}

.otherOption {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 100%;
    width: 100%;
    color: var(--text);
}

.optionLabel {
    margin-left: 2%;
}

.otherOption:hover {
    background-color: gray;
}

.dropdownIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
}

