.headerButton {
    font-size: 1.3rem;
}

.headerButtonComponent {
    padding: 8px 16px;
    border-radius: 5px;
    margin-left: 50px;
    border-color: #40a2f1;
    background-color: transparent;
    color: white;
    font-family: var(--font-mono);
    border-style: solid;
    font-size: 1.3rem;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out, color 0.4s ease-in-out, border-color 0.4s ease-in-out, background-color 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
}

.headerButtonComponent:hover {
    color: '#aaa9a9';
    border-color: '$e8eae5';
    background-color: #40a2f1;
    box-shadow: 0 0 20px #000;
}
