.header {
    position: sticky;
    background-color: var(--primary);
    width: 100%;
}

.headerComponents {
    display: flex;
    justify-content: space-around;
}

.headerSide {
    display: flex;
    gap: 64px;
}

.headerLabel {
    display: flex;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    font-size: 115%;
    color: var(--background);
    cursor: pointer;
    transition: all 0.2s;
}

.headerLabel:hover {
    color: rgb(138, 143, 152);
}

.languageButtton {
    display: flex;
    column-gap: 8px;
    border-radius: 12px;
    border: 2px solid var(--accent);
    background-color: transparent;
    margin: auto 0;
    padding: 8px;
    transition: all 0.5s;
}

.languageButtton:hover {
    color: var(--text);
    background-color: var(--accent);
}