.header {
    position: sticky;
    background-color: var(--primary);
    width: 100%;
}

.headerComponents {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.headerSide {
    display: flex;
    gap: 64px;
}

.headerLabel {
    display: flex;
    font-family: 'Manrope';
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: var(--background);
    cursor: pointer;
    transition: color 0.2s;
}

.headerLabel:hover {
    color: rgb(138, 143, 152);
}

.languageButtton {
    border: none;
    background-color: transparent;
}