.searchBox {
    border: none;
    font-family: 'Roboto';
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    transition: box-shadow 0.2s ease-in-out;
    padding: 5%;
    outline: none;
    box-sizing: border-box;
}

.searchBoxSuggestionsContainer {
    max-height: 400px;
    position: absolute;
    z-index: 10000;
    overflow: auto;
}

.searchBoxSuggestions {
    display: flex;
    width: 100%;
    min-height: 30px;
    background-color: rgb(220, 220, 220);
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.searchBoxSuggestion {
    width: 100%;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, border-width 0.2 ease-in-out;
}

.suggestionContent {
    display: flex;
    padding: 2.5%;
    align-items: center;
    position: relative;
    border-radius: 1px;
    width: 100%;
    box-sizing: border-box;
}

.positionBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 40px;
    padding: 2%;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 10px;
}

.invisibleText {
    color: transparent;
}

.playerSuggestionName {
    font-family: 'Manrope';
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.emptyPlayerSuggestionName {
    color: transparent;
    height: 15px;
    background-color: gray;
}

.searchBoxSuggestion:hover {
    background-color: rgb(194, 193, 193);
}

.searchBox:hover {
    box-shadow: 0 0 3px #00000080;
}

.searchBox:focus {
    box-shadow: 0 0 8px #00000080;
}