.page {
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    color: var(--background);
    background-color: rgb(15, 31, 75);
}

.upperContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
}

.playerContainer {
    width: 80%;
    height: 100%;
    border: 3px solid #ffdcfd;
    border-left: none;
}

.playerCardModel {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.playerCardModel:not(:first-child) {
    border-right: 3px solid #ffdcfd;
}